<div class="overlay" *ngIf="isShowFilters">
    <div id="intro" class="clear">
        <article class="one_third first text-center well well-lg shadow-box center-block animated bounceInLeft">
            <h3 class="heading">Masculino</h3>
            <ul class="nospace">
                <h2><img src="../../../assets/images/men.png" class="img-responsive" alt="Card image cap"></h2>
            </ul>
            <p class="link"><a (click)="onShowChart('male');" style="cursor: pointer;">Ver detalle &raquo;</a></p>
        </article>
        <article class="one_third text-center well well-lg shadow-box center-block animated zoomIn">
            <h3 class="heading">Femenino</h3>
            <ul class="nospace">
                <h2><img src="../../../assets/images/woman.png" class="img-responsive" alt="Card image cap"></h2>
            </ul>
            <p class="link"><a (click)="onShowChart('female')" style="cursor: pointer;">Ver detalle &raquo;</a></p>
        </article>
        <article class="one_third text-center well well-lg shadow-box center-block animated bounceInRight">
            <h3 class="heading">Ambos</h3>
            <ul class="nospace">
                <h2><img src="../../../assets/images/ambos.png" class="img-responsive" alt="Card image cap"></h2>
            </ul>
            <p class="link"><a (click)="onShowChart('both')" style="cursor: pointer;">Ver detalle &raquo;</a></p>
        </article>
    </div>
</div>