<section class="mt-4">

    <div class="alert alert-info" *ngIf="!country && !details">
        <strong><i class="fa fa-spinner fa-spin"></i> Cargando...</strong>
    </div>
    <card-header *ngIf="country && details" [country]="country" [details]="details"></card-header>

    <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-secondary" (click)="goToAllCountries()">Ver todos los paises</button>
    </div>

    <div class="d-flex justify-content-start" *ngIf="!isShowFilters">
        <button class="btn btn-primary" (click)="resetCharts()">Regresar</button>
    </div>

    <p class="h4" *ngIf="isShowFilters">Filtrar por: </p>

    <div style="display: block" *ngIf="barChartData.length || !isShowFilters">
        <canvas baseChart height="120%"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"            
                [chartType]="'bar'"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
    </div>

    <!-- <bar-chart [labels]="barChartLabels" [data]="data" *ngIf="data"></bar-chart> -->

    <filters [isShowFilters]="isShowFilters" (showChart)="onShowChart($event)"></filters>
    
</section>