<section class="mt-5">
    <!-- <p>{{details.description}}</p>
    <p>{{details.population}}</p>
    <p>{{details.currency}}</p> -->

    <div class="d-flex justify-content-end">
        <button class="btn btn-secondary" (click)="goToAllCountries()">Ver todos los paises</button>
    </div>

    <div class="d-flex justify-content-start" *ngIf="!isShowFilters">
        <button class="btn btn-primary" (click)="resetCharts()">Regresar</button>
    </div>

    <p class="h4" *ngIf="isShowFilters">Filtrar por: </p>

    <div style="display: block" *ngIf="barChartData.length || !isShowFilters">
        <canvas baseChart height="120%"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"            
                [chartType]="'bar'"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
    </div>
    
    <div style="display: block" *ngIf="lineChartData.length">
        <canvas baseChart #baseChart="base-chart"
            [data]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [chartType]="'line'"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
        </canvas>
    </div>

    <!-- <bar-chart></bar-chart> -->

    <filters [isShowFilters]="isShowFilters" (showChart)="onShowChart($event)"></filters>
    
</section>