<section>
    <p>{{details.description}}</p>
    <p>{{details.population}}</p>
    <p>{{details.currency}}</p>

    <div class="d-flex justify-content-end">
        <button class="btn btn-info" (click)="goToAllCountries()">Ver todos los paises</button>
    </div>

    <p class="h2" *ngIf="!barChartData.length || !lineChartData.length">Puedes seleccionar entre nacimientos del género masculino, femenino o ambos:</p>

    <div style="display: block" *ngIf="barChartData.length">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"            
                [chartType]="'bar'"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
    </div>
    
    <div style="display: block" *ngIf="lineChartData.length">
        <canvas baseChart #baseChart="base-chart"
            [data]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [chartType]="'line'"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
        </canvas>
    </div>

    <bar-chart></bar-chart>

    <div class="overlay">
        <div id="intro" class="clear">
            <article class="one_third first text-center well well-lg shadow-box center-block animated bounceInLeft">
                <h3 class="heading">Masculino</h3>
                <ul class="nospace">
                    <h2><img src="../../../assets/images/men.png" class="img-responsive" alt="Card image cap"></h2>
                </ul>
                <p class="link"><a (click)="showChartMale()" style="cursor: pointer;">Ver detalle &raquo;</a></p>
            </article>
            <article class="one_third text-center well well-lg shadow-box center-block animated zoomIn">
                <h3 class="heading">Femenino</h3>
                <ul class="nospace">
                    <h2><img src="../../../assets/images/woman.png" class="img-responsive" alt="Card image cap"></h2>
                </ul>
                <p class="link"><a (click)="showChartsFemale()" style="cursor: pointer;">Ver detalle &raquo;</a></p>
            </article>
            <article class="one_third text-center well well-lg shadow-box center-block animated bounceInRight">
                <h3 class="heading">Ambos</h3>
                <ul class="nospace">
                    <h2><img src="../../../assets/images/ambos.png" class="img-responsive" alt="Card image cap"></h2>
                </ul>
                <p class="link"><a  (click)="showChartsOfBoth()" style="cursor: pointer;">Ver detalle &raquo;</a></p>
            </article>
        </div>
    </div>
</section>